@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", serif;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  background-color: rgb(219, 217, 217);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 500px;
  padding: 10px 20px;
  margin-top: 2rem;
  box-shadow: 0px 4px 31px -15px rgba(0, 0, 0, 0.75);
  border-radius: 0.5rem;
  background-color: #fff;
}

h1{
  text-align: center;
  text-transform: uppercase;
  margin: 1rem;
  font-size: 2em;
}

.input-search{
  display: flex;
  justify-content: center;
  padding: 5px;
  margin-bottom:1rem;
}

.input-search input{
  width: 60%;
  padding: 10px 10px;
  outline: none;
  margin-right: 8px;
  border: 1px solid rgb(145, 145, 145);
  border-radius: 5px;
  outline: none;
}

.input-search button{
  margin-top: 5px;
  margin-bottom: 5px;
  width: 15%;
  background-color: #2ecc71;
  border: none;
  border-radius: 5px;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s;
}
.input-search button:hover{
  background-color: #34de7b;
}

.btn{
  padding: 8px 10px;
  border: none;
  border-radius: 5px;
  background-color: #ccc;
  cursor: pointer;
  transition: all 0.5s;
  color: #fff;
  font-weight: 500;
  width: 5em;
}

.green{
  background-color: #2ecc71;
}

.green:hover{
  background-color: #42a86c;
}

.red{
  background-color: #eb4d4b;
}

.red:hover{
  background-color: #cf4442;
}

.table{
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1rem;
}

.table th, .table td{
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}

.table th{
  background-color: #f2f2f2;
}

.table tr:nth-child(even){
  background-color: #f2f2f2;
}

.table tr:hover{
  background-color: #ddd;
  cursor: pointer;
}

.model{
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color:rgba(0, 0, 0, 0.7);
}

.model-content{
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  width: 500px;
  border: 1px solid #ccc;
  border-radius: 10px;
  position: relative;
}

.close{
  float: right;
  font-size: 2.5rem;
  color: #828282;
  cursor: pointer;
  transition: all 0.3s;
  position: absolute;
  top:auto;
  right: 6%;
}

.close:hover,
.close:focus{
  color: black;
}

.model h2{
  font-size: 1.5em;
  text-align: center;
  margin: 0.5em auto;
  text-transform: uppercase;
}

.input-field{
  margin: 1em;
  width: 100%;
}

.input-field label,input{
  display: block;
  margin: 5px;
  width: 90%;
  outline: none;
}

.input-field input{
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px 10px;
}

.model-content button{
  width: 25%;
  margin-left: 38%;
  margin-top: 4%;
  margin-bottom: 4%;
}




